/* CUSTOM PROPRERTIES */

:root {
    --ms_background-color-primary:#F8F9FA;
    --ms_background-color-secondary:#1B72E8;
    --ms_background-light-grey: #E5E5E5;
    --ms_color-white: white;
}


/* COMMON */

.wrapper {
    height: 100vh;
    width: 100%;
}

img {
    max-width: 100%;
}


/* HEADER */

.ms_container-header {
    background-color: var(--ms_color-white);
    height: 100%;
}

.ms_visible-logo {
    max-width: 46px;
}

[class*="header-button"] {
    margin: 0 .7rem;
    font-size: 1.2rem;
}

.ms_header-button i {
    color:#FF8F00 ;
}

.ms_search-icon {
    line-height: 38px;
}

.ms_search-bar {
    background-color: var(--ms_background-light-grey);
    border-radius: 5px;
}

.ms_hidden-header-button {
    display: none;
}

.ms_input-search-bar {
    background-color: var(--ms_background-light-grey);
    border: none;
}

.ms_input-search-bar:focus {
    background-color: var(--ms_background-light-grey);
    box-shadow: none;
}

.ms_hidden-logo {
    display: none;
}

@media screen and (min-width:992px) {

    .ms_hidden-header-button {
        display: inline-block;
    }

    .ms_visible-logo {
        display: none;
    }

    .ms_hidden-logo {
        display: block;
    }
}


/* MAIN */

    /* Left main */

    .ms_left-main {
        height: calc(100vh - 62px);
        background-image: url(../img/sidebar-bg.png);
        background-color: #051E34;
        padding: 2rem 1rem;
    }

    .ms_side-buttons a {
        color: var(--ms_color-white);
        text-decoration: none;
    }

    .ms_icon-side {
        height: 50px;
        width: 50px;
        display: inline-block;
        line-height: 50px;
    }

    .ms_hidden-text-button {
        display: none;
    }

    .ms_side-buttons {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    @media screen and (min-width:992px) {

        .ms_hidden-text-button {
            display: inline-block;
        }

        .ms_left-main {
            width: 160px;
            padding: 2rem 2rem 2rem 1rem;
        }
    }

