/* CUSTOM PROPRERTIES */

:root {
    --ms_background-color-primary: #F8F9FA;
    --ms_background-color-secondary: #1B72E8;
    --ms_background-light-grey: #E5E5E5;
}


/* COMMON */

.wrapper {
    height: 100vh;
    width: 100%;
}

img {
    max-width: 100%;
}


/* HEADER */

.ms_visible-logo {
    max-width: 46px;
}

[class*="header-button"] {
    margin: 0 .7rem;
    font-size: 1.2rem;
}

.ms_header-button i {
    color: #FF8F00;
}

.ms_search-icon {
    line-height: 38px;
}

.ms_search-bar {
    background-color: var(--ms_background-light-grey);
    border-radius: 5px;
}

.ms_input-search-bar {
    background-color: var(--ms_background-light-grey);
    border: none;
}

.ms_input-search-bar:focus {
    background-color: var(--ms_background-light-grey);
    box-shadow: none;
}

.navbar-nav .dropdown-menu {
    position: absolute;
    left: -300%;
    top: 110%;
}

.navbar-nav .ms_bell-icon {
    position: relative;
}


/* MAIN */

/* Left main */

.ms_left-main {
    height: calc(100vh - 62px);
    background-image: url(../img/sidebar-bg.png);
    background-color: #051E34;
    padding: 2rem 1rem;
    width: 82px;
}

.ms_icon-side {
    height: 50px;
    width: 50px;
    display: inline-block;
    line-height: 50px;
}

@media screen and (min-width:992px) {
    .ms_left-main {
        width: 170px;
        padding: 2rem 2rem 2rem 1rem;
    }
}


/* Right main */

.ms_right-main {
    height: calc(100vh - 62px);
    width: calc(100% - 82px);
}

@media screen and (min-width:992px) {
    .ms_right-main {
        width: calc(100% - 170px);
    }
}


/* Main header */

.ms_main-button {
    background-color: #165BBA;
    padding: 0 .5rem;
    display: inline-block;
    border-radius: 20px;
}

/* Main canvas */

.ms_btn-canvas {
    height: 40px;
    width: 40px;
    border: 1px solid white;
}

.offcanvas-end {
    width: 60%;
}


/* Table */

td {
    text-align: center;
}

th img {
    max-width: 25px;
    margin-right: 1rem;
}

.ms_status {
    border-radius: 10px;
    padding: .1rem .4rem .3rem .4rem;
    color: var(--ms_color-white);
}

tr td:nth-child(2),
tr th:nth-child(2),
tr td:nth-child(3),
tr th:nth-child(3) {
    display: none;
}

@media screen and (min-width:768px) {

    thead th:first-child {
        width: 35%;
    }

    tr td:nth-child(2),
    tr th:nth-child(2),
    tr td:nth-child(3),
    tr th:nth-child(3) {
        display: table-cell;
    }
}